# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

alf_data_dev
target
.settings
.project
.classpath
/bin/
${tomcat.home}
*.log
*.log.*

*.orig
# This did not work you need to run the cmd git update-index --assume-unchanged src/test/properties/local/alfresco-global-h2.properties for changes in this file not be detected
#src/test/properties/local/alfresco-global-h2.properties
